*{
    font-family: sans-serif;
}

.homeiconimg{
    height: 40px;
    width: 40px;
}




.content{
    padding: 20px;
    padding-top: 0;
    
}


body{
    min-height: 100vh;
    background:linear-gradient(45deg,rgb(136, 0, 255),rgb(217, 0, 255));
    margin-top: 0;
}

.title{
    color: white;
    display: flex;
    
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.244);
    /*width: 1726px;*/
    padding: 0px;
    text-align: center;
    font-style: italic;
    padding-bottom: 0;
    flex-grow: 1;
    }
.top{
    display: flex;
    justify-content: space-around;
    padding-left: 0;

}
 .heading{
    flex-grow: 1;
}
.homebutclass{
    background-color: rgba(255, 255, 255, 0.636);
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0px;
}

.nav a{
    font-size: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    list-style: none;
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    border-radius: 50px;
    margin-left: 5px;
}

.navbut:enabled{
    background-color: red;
}

.footer{
    
    text-align: left;
    background-color: black;
}